<!doctype html>
<html lang="en">
<head>

    <meta charset="UTF-8">

    <link rel="stylesheet"
     href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/dropzone.min.css"/>

    <link rel="stylesheet"
     href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/basic.min.css"/>

    <script type="application/javascript"
     src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/min/dropzone.min.js">
    </script>

    <link rel="stylesheet" href="/static/css/pydrop.css"/>
    <script type="application/javascript" src="/static/js/pydrop.js"></script>

    {% block head %}
    {% endblock %}

    <title>pydrop - {% block title %}{% endblock %}</title>
</head>
<body>


<div id="content">
    {% block content %}
    {% endblock %}
</div>


</body>
</html>