{% extends "base_layout.html" %}
{% block title %}File Dropper{% endblock %}
{% block content %}
    <form method="POST" action='/upload' class="dropzone dz-clickable"
          id="dropper" enctype="multipart/form-data">
    </form>

    <script type="application/javascript">
        Dropzone.options.dropper = {
            paramName: 'file',
            chunking: true,
            forceChunking: true,
            url: '/upload',
            maxFilesize: 1025, // megabytes
            chunkSize: 1000000 // bytes
        }
    </script>
{% endblock %}

